<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home_style.css') }}">
</head>

<body>
    <body class="frontpage" data-pinterest-extension-installed="cr1.39.1">

	
        <nav class="primary dark">
            <ul>
                <li class="active framer"><a href="https://framerjs.com/"><img class="nav-logo" src="https://framerjs.com/assets/static/images/logo-24.png" srcset="https://framerjs.com/assets/static/images/logo-24@2x.png 2x"><img class="nav-logo-light" src="https://framerjs.com/assets/static/images/logo-24-light.png" srcset="https://framerjs.com/assets/static/images/logo-24-light@2x.png 2x"></a></li>
                <li class=""><a href="">Contact us</a></li>
                <!-- <li class=""><a href="https://framerjs.com/learn/basics/">Learn</a></li>
                <li class=" resources"><a href="https://framerjs.com/resources/">Resources</a></li>
                <li class=" docs"><a href="https://framerjs.com/docs/">Docs</a></li>
                <li class="blog"><a href="https://blog.framerjs.com/">Blog</a></li>
                <li class="community"><a href="http://framergroup.com/?utm_source=framer-site&amp;utm_medium=link&amp;utm_campaign=community/" target="_blank">Community</a></li>
                <li class="download"><a href="https://framerjs.com/download">Free Trial</a></li>
                <li class="buy"><a href="https://framerjs.com/buy">Buy $129</a></li> -->
            </ul>
            <span class="right-gradient"></span>
        </nav>
        
    
        
        
    
        <section class="container">
            
    <!-- Header -->
    <div class="header">
        <div class="content inviewport" style="visibility: visible;">
    
                <section class="subtitles">
                    <img class="app-icon" src="https://framerjs.com/assets/static/images/autocode/icon-256.png" srcset="https://framerjs.com/assets/static/images/autocode/icon-256@2x.png 2x" draggable="false">
                    <h1 class="first-subtitle">A new way to design with code.</h1>
                    <h2 class="second-subtitle">Infinite possibilities. Easier than ever.</h2>
                </section>
    
                <section class="windows">
    
                    <section class="window-left">
                        <video id="code-edit" class="2x" width="100%">
                            <source src="https://framerjs.com/assets/static/images/autocode/edit.mp4" type="video/mp4">
                        </video>
                    </section>
    
                    <section class="feature-left">
                        <div>
                            <h3>Code has never been this easy.</h3>
                            <p>Add layers and define interactions without writing a single line of code. Everything stays in perfect sync. </p>
                        </div>
                    </section>
    
                    <section class="window-right">
                        <video id="code-design" width="100%">
                            <source src="https://framerjs.com/assets/static/images/autocode/design@2x.mp4" type="video/mp4">
                        </video>
                    </section>
    
                    <section class="feature-right">
                        <div>
                            <h3>Visually design any interaction.</h3>
                            <p>Work with intuitive visual tools to fine-tune every detail. Edit your designs directly on the canvas.</p>
                        </div>
                    </section>
                </section>
    
            <section class="blog-post-pivot">
                <div class="final-cta">
    
                    <img class="mobile-app-icon" src="https://framerjs.com/assets/static/images/autocode/icon-256.png" srcset="https://framerjs.com/assets/static/images/autocode/icon-256@2x.png 2x" draggable="false">
    
                    <h1 class="fadeInBottom">Introducing PREDICTION</h1>
                    <h2 class="second-headline fadeInBottom">Your personal AI expereince.</h2>
    
                    <div class="pivot-buttons fadeInBottom">
                        <a class="button-fill blue" href="{{url_for('login')}}">Login</a>
                        <a class="button-line white" href="{{url_for('signup')}}">Signup</a>
               
                    </div>
                </div>

</body>
</html>